.post-footer {
  background-color: #000000;
  font-size: 15px;
  color: #FFFFFF;
  grid-area: footer;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.post-footer .labels {
  margin: auto auto auto 5px;
}