@mixin header-footer($area) {
  color: #FFFFFF;
  grid-area: $area;
  background: rgba(0,0,0,.75); 
}

.photo-portfolio {
  display: grid;
  grid-template-areas: "header" "content" "footer"
}

.site-header {
  @include header-footer(header);
}

.category-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
}

.posts {
  grid-column-start: span 3;
}

.post-list {
  grid-row: 1;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
}

.post {
  height: 20%; 
}

.site-footer {
  @include header-footer(footer);
  padding: 5px;
}
