//Setup styles related to typography

.site-title {
  color: #FFFFFF;
}

@mixin title($clickable) {
  @if $clickable {
    cursor: pointer;
  }
  margin-left: 2%;
}

.category-title {
  font-size: 120%;
  font-weight: bold;
  @include title(false);
}

.category-title-clickable {
  font-size: 120%;
  font-weight: bold;
  @include title(true);
}

.category-subtitle {
  @include title(true)
}

.post-title-single {
  font-size: 120%;
  font-weight: bold;
  margin-left: 5%;
}

.post-title-multiple {
  margin-left: 5%;
}

.post-image {
  margin: 0 0 1% 5%;
}
