.site-title {
  color: #FFFFFF;
}

.category-title {
  margin-left: 2%;
}

.post-title-single {
  font-size: 120%;
  font-weight: bold;
  margin-left: 5%;
}

.post-title-multiple {
  margin-left: 5%;
}

.post-image {
  margin: 0 0 1% 5%;
}
