.post-navigation-arrow {
  position: absolute;
  height: 80px;
  width: 40px;
  border: 1px solid #000000;
  background-color: rgba(128, 128, 128, 0.4);
  transition: opacity 300ms ease-in-out;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.post-navigation-arrow.active {
  opacity: 1;
  cursor: pointer;
}

.post-navigation-arrow.disabled {
  opacity: 0.5;
  cursor: default;
}

.post-navigation-arrow > .arrow {
  position: absolute;
  color: #FFFFFF;
  font-size: initial;
}

.arrow > img {
  vertical-align: middle;
}