.post-navigation-arrow {
  position: absolute;
  height: 80px;
  width: 40px;
  border: 1px solid var(--template-black);
  background-color: var(--template-transparent-gray); 
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.post-navigation-arrow.active {
  cursor: pointer;
}

.post-navigation-arrow.disabled {
  cursor: default;
}

.post-navigation-arrow > .arrow {
  position: absolute;
  color: var(--template-white);
  font-size: initial;
}

.arrow > img {
  vertical-align: middle;
}