.post-navigation-arrow {
  position: absolute;
  height: 10%;
  width: 5%;
  font-size: 40px;
  top: 50%;
  margin-top: -5%;
  border: 1px solid #000000;
  background-color: rgba(128, 128, 128, 0.4);
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}

.post-navigation-arrow > .arrow {
  position: absolute;
  color: #FFFFFF;
  top: 50%;
  margin-top: -50%;
  left: 25%;
}