.category-list {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--number-of-columns), calc(100% / var(--number-of-columns)));
  grid-template-rows: repeat(var(--number-of-rows), 1fr);
}