.post-titlebar {
  background-color: #000000;
  font-size: 25px;
  color: #FFFFFF;
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.post-titlebar > .title {
  margin-left: 10px;
  order: 1;
  flex-grow: 3;
}