.post-titlebar {
  background-color: #000000;
  font-size: 25px;
  color: #FFFFFF;
  grid-area: header;
  display: grid;
  grid-template-columns: 95% 5%;
  grid-template-rows: 100%;
}

.post-titlebar > .title {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  margin: auto auto auto 5px;
}