.post-titlebar {
  background-color: #000000;
  font-size: min(4vw, 2rem);
  color: #FFFFFF;
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: width var(--modal-transition-time), height var(--modal-transition-time)
}

.post-titlebar > .title {
  margin-left: 10px;
  order: 1;
  flex-grow: 3;
}