/* General application settings */
$topbar-height: 48px;

/* Set general form styling settings */
$form-input-border-radius: 8px;
$form-input-height: 35px;
$form-textarea-height: 100px; 
$form-input-margin: 10px 5px;