.post-image {
  position: relative;
  grid-area: content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  transition: width var(--modal-transition-time), height var(--modal-transition-time)
}

.post-image img {
  transition: all var(--modal-transition-time), height var(--modal-transition-time)
}