.title-bar {
  color: #FFFFFF;
  grid-area: header;
  background: rgba(0,0,0,.75); 
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
}
.title-bar h1 {
  color: #FFFFFF;
  margin-left: 10px;
}