.close-button {
  display: grid;
  grid-column: 2;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background-color: #000000;
}

.close-button-content {
  width: 30px;
  height: 30px;
  margin: auto;
}