.footer {
  color: var(--template-white);
  grid-area: footer;
  background: var(--template-dark-gray); 
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  padding: 5px;
}