.form-button {
    height: $form-input-height;
    width: $form-button-width;
    border: 1px solid var(--template-white);
    border-radius: $form-input-border-radius;

    &.primary {
        color: var(--template-white);
        background-color: var(--template-blue);
    }

    &.secondary {
        color: var(--template-black);
        background-color: var(--template-light-grey)
    }
}