.category-title {
  width: 100%;
  height: min(3.5vw, 2rem);
  background-color: var(--template-transparent-blue);
  position: absolute;
  bottom: 0
}

.category-title-text {
  color: var(--template-white);
  /*
  writing-mode: vertical-rl;
  text-orientation: sideways;
  */
  margin-left: .3rem;
  font-size: min(3.2vw, 1.8rem);
}