.section-header {
  background: var(--template-blue);
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--template-white);
}

.section-header > .title {
  font-size: 120%;
  font-weight: bold;
}

.section-header a {
  color: var(--template-white);
  text-decoration: none;
}