.post {
  position: absolute;
  width: 80%;
  height: 80%;
  cursor: pointer;
  grid-column: 1 / 6;
  grid-row: 1/3;
}

.post-background {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 10;
}