:root {
  --number-of-columns: 5;
  --number-of-rows: 2;
  --modal-transition-time: 300ms;
}

.photo-portfolio {
  grid-area: content;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 3rem auto 2rem;
}