:root {
  --number-of-columns: 5;
  --number-of-rows: 2;
  --modal-transition-time: 300ms;
}

.app {
  position: relative;
  height: 100vh;
  background-color: var(--template-dark-gray);
}

.photo-portfolio {
    height: calc(100% - 64px);
}
