.category-header {
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  color: #FFFFFF;
}

.category-header > .title {
  font-size: 120%;
  font-weight: bold;
}

.category-header > .subtitle {
  margin-left: 5px;
  cursor: pointer;
}