:root {
    --template-dark-gray: rgba(0, 0, 0, 0.75);
    --template-transparent-gray: rgba(128, 128, 128, 0.4);
    --template-light-gray: #999999;
    --template-medium-gray: #606060;
    --template-blue: rgb(0, 120, 215);
    --template-transparent-blue: rgba(0, 120, 215, 0.5);
    --template-white: #FFFFFF;
    --template-black: #000000;
}